*{ padding:0;
  margin: 0;
  box-sizing: border-box;}

  .body{
  width: 30%;
    min-height: 50vh;
  display: flex;
  justify-content: center;
align-content:center;
}
.flex-container >div{
  display: flex;
  flex-direction: row;
}
.box-container{
  width:30%;
  max-width: 70px;
  display: flex;
  flex-flow: wrap;
}
.flex-container {
  display: flex;
  background-color: hsl(0, 0%, 95%);
}

.box1{
background-color: hsl(31, 77%, 52%);
  border-top-left-radius: 10px;
  border-bottom-left-radius:10px;
}
.box2{
  background-color:hsl(184,100%,22%);
}
.box3{
  background-color:hsl(179,100%,13%);
}

h1{
  color: hsl(0, 0%, 95%);
  text-transform: uppercase;
  font-family: 'lexend deca',sans-serif;
  margin:20px 0 ;
  
}
p{
  color:hsla(0,0%,100%,0.75);
  font-family: 'big shoulders display',cursive;
  
}
.button{
  margin: 60px 0;
  padding: 15px 40px;
  border: 0;
  border-radius: 30px;
  outline: none;
  background-color: #fff;
  font-size: 15px;
  cursor: pointer;
  font-family: 'lexend deca', sanserif;
  font-weight: 700;
}
.button1{
  color:hsl(31,77%,52%);
}
.button2{
  color:hsl(184,100%,22%);
}
.button3{
  color:hsl(179,100%,13%);
}
.button:hover{
  background-color: transparent;
  border: 2px solid #fff;
  color:#fff;
  transition: 0.4s;
  
}
